:root[data-window='spotlight'],
:root[data-window='spotlight'] body,
:root[data-window='spotlight'] #app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: transparent !important;
}

:root[data-window='spotlight'] body {
  user-select: none;
}

:root[data-window='spotlight'] input,
:root[data-window='spotlight'] button {
  user-select: text;
}
